NEXT_PUBLIC_ORGANIZATION_NAME=FICCI
NEXT_PUBLIC_SUPPORT_EMAIL=membership@ficci.org.ph
NEXT_PUBLIC_SUPPORT_PHONE=
NEXT_PUBLIC_BENEFITS_DIRECTORY_URL=
NEXT_PUBLIC_MY_GLUE_DOWNLOAD_URL=https://www.glueup.com/download-my-glue
